<<<<<<< HEAD
.navbar{
=======
.navbar {
>>>>>>> 518dca05981042f5225f375e8df665eec48572d5
    background-color: $bgColor;
    color: $secondaryColor;
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    width: 100vw;
    height: 5rem;
=======
    
>>>>>>> 518dca05981042f5225f375e8df665eec48572d5
}